

.description-box{
    margin-top: 5%;
    text-align: center;

}

.calendar-widget{
    margin-top: 5%;
    margin-bottom: 40%;
    margin-left: 5%;
    margin-right: 5%;
    heigth: 60%;
}

.calendar-widget .calendar{
    height: 100%;

}


.calendar-widget .rbc-header{
}

.overview-box{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
}

.overview-box .header{
    background-color: #3174ad;
    border-color: #3174ad;
    color: white;
    padding-left: 9px;
}

.table-header .title{
    color: white;
    margin-left: 10%;
}
